* {
	box-sizing : border-box;
}

html {
    background: url(images/backgroundImage.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html,
body {
	margin : 0;
	padding : 0;
}

body {
    background-attachment: fixed;
}

#credits {
  margin: 15px;
  padding: 8px;
  font-family: "Almendra";
  font-size: 12px;
  width: 332px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

a {
  color: #e56021;
}

#nonClickContainer {
    pointer-events: none;
}

#playHow {
    position: fixed;
    top: 47%;
    left: 33%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 1s;
    opacity: 1;
}

#endGame {
    position: fixed;
    top: 58%;
    left: 33%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 1s;
    opacity: 0;
    display: none;
}

#endGame.fade-in {
  opacity: 1;
}

#endGame.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
}


#playHow.fade-out {
    opacity: 0;
  }

#howHeading {
    font-family: "Almendra";
    font-size: 18px;
    color: white;
    text-align: center;
    width: 300px;
}

#howPara {
    font-family: "Almendra";
    font-size: 16px;
    color: white;
    width: 300px;
    text-align: center;
}

#battleBtn {
    display: flex;
    justify-items: center;
    margin: auto;
    margin-bottom: 10px;
    background-image: url('images/woodenSign.png');
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-family: "Almendra";
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 32px;
    height: 40px;
    width: 170px;
    transition-duration: 0.2s;
    cursor: pointer;
    pointer-events: auto;
    transition: transform 0.1s ease-in-out;
}

#battleBtn:hover {
    transform: scale(1.05);
}

#battleBtn:active {
    background-color: black;
    box-shadow: 0 5px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}

#playAgain {
  display: flex;
  justify-items: center;
  margin: auto;
  margin-bottom: 10px;
  background-image: url('images/woodenSign.png');
  background-size: 100% 100%;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-family: "Almendra";
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 32px;
  height: 40px;
  width: 170px;
  transition-duration: 0.2s;
  cursor: pointer;
  pointer-events: auto;
  transition: transform 0.1s ease-in-out;
  display: none;
}

#playAgain:hover {
  transform: scale(1.05);
}

#playAgain:active {
  background-color: black;
  box-shadow: 0 5px rgba(0, 0, 0, 0.5);
  transform: translateY(4px);
}

#defeat {
  font-family: "Almendra";
  font-size: 40px;
  color: white;
  width: 300px;
  text-align: center;
  padding-bottom: 25px;
  display: none;
}

#victory {
  font-family: "Almendra";
  font-size: 40px;
  color: white;
  width: 300px;
  text-align: center;
  padding-bottom: 25px;
  display: none;
}

.counterSection {
    font-family: "Almendra";
    font-size: 22px;
    color: white;
}

#playerLives {
    position: fixed;
    top: 86%;
    left: 7%;
    background-color: rgba(0, 0, 0, 0.2);
}

#computerLives {
    position: fixed;
    top: 86%;
    left: 79%;
    background-color: rgba(0, 0, 0, 0.2);
}

#playerCounter {
  font-size: 40px;
  position: fixed;
  top: 89%;
  left: 9.7%;
}

#computerCounter {
  font-size: 40px;
  position: fixed;
  top: 89%;
  left: 83%;
}
#challengerHead {
    font-size: 36px;
    font-family: "Almendra";
    position: fixed;
    color: white;
    top: 60%;
    left: 20%;
    text-align: center;
    font-weight: bolder;
}

#opponentHead {
    font-size: 36px;
    font-family: "Almendra";
    position: fixed;
    color: white;
    top: 50%;
    left: 50%;
    text-align: center;
}

#challengerMessage {
    animation: fade-in 5s linear;
    animation-fill-mode: forwards;
    display: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#roundMessage {
    position: fixed;
    color: white;
    top: 69%;
    left: 31%;
    text-align: center;
    width: 300px;
    font-family: "Almendra";
    font-size: 20px;
}

.textFade {
    animation: textFade 1.4s linear;
}

@keyframes textFade {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

  .shoot {
    animation: arrowAnimation 1s linear;
  }

  .compShoot {
    animation: compArrowAnimation 1s linear;
  }

  .spell {
    animation: spellAnimation 1s linear;
  }

  .compSpell {
    animation: compSpellAnimation 1s linear;
  }

  .slash {
    animation: slashAnimation 0.8s linear;
  }

  .compSlash {
    animation: compSlashAnimation 0.8s linear;
  }

  @keyframes arrowAnimation {
    0% {
      left: 21%;
    }
    30% {
      left: 21%  
    }
    100% {
      left: var(--target-left);
      top: var(--target-top);
    }
  }

  @keyframes compArrowAnimation {
    0% {
      left: 66%;
    }
    30% {
      left: 66%;
    }
    100% {
      left: var(--target-left);
      top: var(--target-top);
    }
  }

  @keyframes spellAnimation {
    0% {
      left: 28.5%;
    }
    30% {
      left: 28.5%;  
    }
    100% {
      left: var(--target-left);
      top: var(--target-top);
    }
  }

  @keyframes compSpellAnimation {
    0% {
      left: 52%;
    }
    30% {
      left: 52%;  
    }
    100% {
      left: var(--target-left);
      top: var(--target-top);
    }
  }

  @keyframes slashAnimation {
    0% {
      left: 34%;
      transform: rotate(0deg);
    }
    24% {
      left: 34%;
      transform: rotate(0deg);
    }
    25% {
      left: 35%;
      transform: rotate(15deg);
    }
    50% {
      left: 36%;
      top: 77%;
      transform: rotate(40deg);
    }
    75% {
      transform: rotate(50deg);
    }
    100% {
      left: 37%;
      top: 82%;
      transform: rotate(60deg);
    }
  }

  @keyframes compSlashAnimation {
    0% {
      left: 44%;
      
    }
    25% {
      left: 44%;
      
    }
    50% {
      left: 42%;

      
    }
    75% {
      left: 42%;
    }
    100% {
      left: 44%;
    
    }
  }


.hit {
    animation: flicker 0.2s linear 3;
  }
  @keyframes flicker {
    0% {
      opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
  }

#playerArcher {
    position: fixed;
    top: 83%;
    left: 19%;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

#playerArcher:hover {
    transform: scale(1.05);
}

#playerArrow {
    position: absolute;
    top: 83%;
    left: 21%;
    z-index: 1;
}

#playerWizard {
    position: fixed;
    top: 75%;
    left: 26%;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

#playerWizard:hover {
    transform: scale(1.05);
}

#playerSpell {
    position: absolute;
    top: 72%;
    left: 28%;
    z-index: 1;
}


#playerWarrior {
    position: fixed;
    top: 83%;
    left: 32%;
    z-index: 2;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

#playerWarrior:hover {
    transform: scale(1.05);
}

#playerAxe {
    position: absolute;
    top: 78%;
    left: 31.5%;
    z-index: 2;
    width: 100px;
    height: 110px;
}

#computerWarrior {
    position: fixed;
    top: 84%;
    right: 48%;
    width: 80px;
    height: 80px;
}

#computerAxe {
    position: absolute;
    top: 83%;
    right: 44%;
    z-index: 1;
}

#computerWizard {
    position: fixed;
    top: 75%;
    right: 35%;
    width: 135px;
    height: 135px;
}

#computerSpell {
    position: absolute;
    top: 73%;
    right: 38%;
    z-index: 1;
}

#computerArcher {
    position: fixed;
    top: 82%;
    right: 24%;
    width: 115px;
    height: 115px;
}

#computerArrow {
    position: absolute;
    top: 78.5%;
    right: 24%;
    z-index: 1;
}


.playerSelections, 
.computerSelections, 
img{
    width: 100px;
    height: 100px;
}
